.game{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    transform: translate(0, 50%);
    &__title{
        font-size: 36px;
        color: white;
        animation-name: title;
        animation-duration: 1s;
    }
   
    @keyframes title{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border: 2px solid white;
    height: 500px;
    width: 700px;
    
}